.splash-page-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    background-image: url(https://music-share-rhinos.s3.amazonaws.com/3421efaf6b464dccb1d75051e8422d5b.jpeg);
    background-size: cover;
}

.splash-content {
    background-color: #cccccc74
}

.splash-page-top {
    display: flex;
    margin-top: 145px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.splash-page-top > h1 {
    font-weight: bold;
    font-size: 5rem;
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'Audiowide', cursive;
    margin-bottom: 5rem;
}


.splash-page-top-img-div > img {
    height: 4rem;
}

.splash-page-middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.splash-page-middle > h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    margin-top: 10px;
    /* padding-bottom: 5px; */
}

.splash-page-middle > h3 {
    font-family: 'Courier New', Courier, monospace;

}

.splash-page-middle-signup {
    border-style: none;
    border-radius: 5px;
    background-color: aquamarine;
    font-size: 2rem;
    padding: 10px 3rem;
    font-family: 'Courier New', Courier, monospace;
}

.splash-page-middle-login-div {
    display: flex;
    align-items: center;
}

.splash-page-middle-login{
    height: fit-content;
    /* opacity: 1; */
    background-color: #A0D8B3;
    border-style: none;
    border: 1px solid black;
    border-radius: 2px;
    padding: 4px 10px;
    color: black;
}

.splash-page-middle > h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 35px;
    margin-top: 15px;
    margin-bottom: -5px;

}

.splash-page-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 10rem; */
    /* align-self: flex-end; */
}

.splash-page-footer-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid lightgray;
    padding-top: 10px;
    padding-bottom: 20px;
    width: 60%;
    font-weight: 600;

}

.splash-page-about-content {
    display: flex;
    justify-content: space-around;
    width: 100%;
    /* font-weight: 500; */
}


.splash-page-about-content > a {
    padding-top: .5rem;
    text-decoration: none;
    color: black;
}
.splash-page-about-content > a:hover {
    cursor: pointer;
}
