.global-outerwrapper-outer {
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    justify-content: center;
    /* background-color: #E5F9DB; */
    /* background-color: black; */
    background-color: darkslategray;
    min-height: 75rem;
    height: fit-content;
}

.global-outerwrapper-wrapper {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    background-color: #A0D8B3;
    border-radius: 5px;
    width: 100rem;
    min-height: 75rem;
    height: fit-content;
}
