.playlist-card-wrapper {
    display: flex;
    flex-direction: column;
    width: 192px;
    height: 228px;
    /* width: fit-content; */
    /* float: right; */
    margin-right: 1rem;
    /* padding-right: 1rem; */
}

.playlist-card-image {
    border: 1px solid lightgray;
    width: 12rem;
    height: 12rem;

}

.playlist-card-image > img {
    width: 12rem;
    height: 12rem;
}

.playlist-card-display-name {
    color: gray;
    font-size: 12px;
}

.single-playlist-card-image-nav>img {
    height: 12rem;
    width: 12rem;
}
