.playlist-wrapper-wrapper {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
    /* border: 1px solid orange; */
    width: 90%;
    border-bottom: 1px solid lightgray;
}

.playlist-wrapper-wrapper>h2 {
    /* margin-top: rem; */
    font-size: 25px;
}

.playlist-wrapper-description {
    color: gray;
    font-size: 20px;
}

.playlist-wrapper-title {
    font-size: 30px;
    font-weight: 400;
}

.playlist-wrapper-inner-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-better;
    row-gap: 100px;
    align-items: center;
}
