.single-song-card-wrapper {
    display: flex;
    width: 50rem;
    height: 12rem;
    padding: 2rem;
    padding-bottom: 0;
    border-radius: 5px;
    border-bottom: 0;
    margin-bottom: 1rem;
    border: 4px solid gainsboro
}

.fa-heart {
    padding-right: 10px;
}

.single-song-card-info-soundwave > img {
    display: flex;
    /* padding-top: 25px; */
    width: 40%;
    max-height: 5.5rem;
    border-radius: 20px;
    /* content: url('https://livebnbbucket.s3.amazonaws.com/soundframe.jpg') */
}

/* .single-song-card-info-soundwave > img.selected {
    content: url('https://livebnbbucket.s3.amazonaws.com/soundslow.gif')
} */




/*
.single-song-card-image > img {
    max-width: 150px;
    height: 12rem;
} */

.single-song-card-image-nav>img {
    height: 9rem;
    width: 9rem;
}

.single-song-card-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 12rem;
}

.single-song-card-info-top {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */
}

.single-song-details-card-play-button {
    display: flex;
    justify-content: center;
    height: 40px;
    width: 40px;

}

.single-song-card-info-comment-input {
    width: 99%;
    margin-top: 2.5rem;
}

.single-song-card-info-comment>input {
    width: 100%;
    border: 1px solid red;
}

.single-song-card-info-top-left-column {
    display: flex;
}

.song-details-card-play-button {}

.single-song-card-next-to-play {
    display: flex;
    flex-direction: column;
}

.single-song-card-info-soundwave {
    /* border: 1px solid black; */
    width: 100%;
}

.single-song-card-info-comment {
    height: 3rem;
}

.single-song-card-info-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    width: 40rem;
    /* border: 1px solid black; */
}

.single-song-card-info-bottom-left-column {
    display: flex;
}

.single-song-card-info-bottom-left-column-heart {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 11px;
    /* font-weight: bold; */
    background-color:aquamarine;
    border-radius: 10px;
    /* cursor: pointer; */
}

.single-song-card-info-bottom-left-column-heart>button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1rem;
    width: 5rem;
}

.likes-unlikes-handler {
    cursor: pointer;
    border-style: none;
    border-radius: 5px;
    /* border: 1px solid darkgreen; */
    /* background-color: rgb(36, 105, 82); */
    /* background-color: aquamarine; */
    color: black;
    /* font-weight: bold; */
    font-size: 1rem;
    padding: 5px 1rem;
    font-family: 'Courier New', Courier, monospace;
}

.single-song-card-info-bottom-left-column-delete {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    height: 1rem;
    width: 5rem;
}

.single-song-card-info-bottom-left-column-delete>button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1rem;
    width: 5rem;
    all: unset;
}

.single-song-card-info-bottom-right-column {
    display: flex;
}

/* .single-song-card-info-soundwave > img {
    width: 40rem;
} */
