.single-song-card-wrapper {
    display: flex;
    width: 65rem;
    height: 12rem;
    /* border-bottom: 1px solid black; */
    margin-bottom: 3rem;
}

/*
.single-song-card-image > img {
    max-width: 150px;
    height: 12rem;
} */

.single-song-card-image-nav>img {
    height: 12rem;
    width: 12rem;
}

.single-song-card-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 12rem;
}

.single-song-card-info-top {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */
}

.single-song-card-info-comment-input {
    width: 99%;
    margin-top: 2.5rem;
}

.single-song-card-info-comment>input {
    width: 100%;
    border: 1px solid red;
}

.single-song-card-info-top-left-column {
    display: flex;
}

.song-details-card-play-button {

}

.single-song-card-next-to-play {
    display: flex;
    flex-direction: column;
}

.single-song-card-info-soundwave {
    /* border: 1px solid black; */
    width: 100%;
}

.single-song-card-info-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    /* border: 1px solid black; */
}

.single-song-card-info-bottom-left-column {
    display: flex;
}

.single-song-card-info-bottom-left-column-heart {
    display: flex;
    justify-content: center;
    align-items: center;
}

.single-song-card-info-bottom-left-column-heart > button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1rem;
    width: 5rem;
}
.single-song-card-info-bottom-left-column-delete {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    height: 1rem;
    width: 5rem;
}

.single-song-card-info-bottom-left-column-delete > button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1rem;
    width: 5rem;
    all: unset;
}

.single-song-card-info-bottom-right-column {
    display: flex;
}
