.login-modal-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 35rem;
    width: 20rem;
    background-color: #E5F9DB;
}

.login-modal-wrapper > h1 {
    display: flex;
    justify-content: center;
    margin-top: -40px;
}

.login-modal-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50%;
    width: 80%;
}

.login-modal-sep-div {
    margin: 1rem 0;
}

.login-modal-password-div {
    margin-bottom: 3rem;
}


.login-modal-labels {
    display: flex;
    flex-direction: column;
}

.login-modal-bottom {
    display: flex;
    flex-direction: row-reverse ;
    justify-content: space-around;
}

.login-modal-submit-button {
    height: fit-content;
    background-color: #A0D8B3;
    border-style: none;
    border: 1px solid black;
    border-radius: 2px;
    padding: 4px 10px;
    color: black;
}

.login-modal-demo > div:hover{
    cursor: pointer;

}


.login-form-signup {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.login-form-signup > button{
    border-style: none;
    background-color: #E5F9DB;
}

.login-form-signup > button:hover {
    cursor: pointer;

}
