.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.navbar-wrapper {
  display: flex;
  padding: 2rem;
}

.navbar-home-feed-library {
  display: flex;
  padding: 0 1rem;
}

.navbar-all-three {
  display: flex;
  padding: 0 1rem;
}

.navbar-upload-button {
  padding: 0 1rem;
}

.navbar-profile-button {
  padding: 0 1rem;
}

.navbar-three-icons {
  display: flex;
}

.navbar-three-icons-all-three {
  padding: 0 1rem;
}
