/* .profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.navbar-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkslategray;
  height: 4rem;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar-wrapper-content {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.navbar-site-button {}

.fa-bell {
  /* font-size: 200px; */
/* }

.navbar-home-feed-library {
  display: flex;
  padding: 0 1rem;
  color: white;
}

.navbar-home-feed-library-feed>button {
  text-decoration: none;
}

.navbar-all-three {
  display: flex;
  padding: 0 2.5rem;
  border-left: 1px solid black;
  border-right: 1px solid black;
  text-decoration: none;
}

.navbar-search-bar-input {
  border-radius: 5px;
  width: 20rem;
  margin-left: 2.5rem;
}

.navbar-upload-button {
  color: white;
  padding: 0 1rem;
}

.navbar-profile-button {
  padding: 0 1rem;
}

.navbar-three-icons {
  display: flex;
}

.navbar-three-icons-all-three {
  padding: 0 1rem;
} */

.navbar-site-button > img {
  display: flex;
  align-items: center;
}

.navbar-site-button > img:hover {
  cursor: pointer;
}

.navbar-icon {
  height: 1.7rem;
  width: 1.7rem;
  margin-top: .5rem;
  /* border: 1px solid red; */
  background-image: url(//styles.redditmedia.com/t5_2uc06/styles/communityIcon_0zttllkgeaa81.png?width=256&v=enabled&s=37b76e9adfe0e716c1d6ec1d43250db31bb7cf1a)
}
.profile-dropdown {
  position: absolute;
  top: 60px;
  border-radius: 5px;
}

.hidden {
  display: none;
}

.navbar-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: darkslategray; */
  background-color: black;
  height: 4rem;
  font-family: 'Courier New', Courier, monospace;
  /* position: fixed; */
  /* Added this */
}

.navbar-wrapper-content {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.navbar-site-button {}

.fa-bell {
  /* font-size: 200px; */
}

.navbar-home-feed-library {
  display: flex;
  padding: 0 1rem;
  color: aquamarine;
  /* Updated this */
}

.navbar-home-feed-library-feed>button {
  text-decoration: none;
}

.navbar-all-three {
  display: flex;
  padding: 0 2.5rem;
  border-left: 1px solid black;
  border-right: 1px solid black;
  text-decoration: none;
}

.navbar-search-bar-input {
  /* border-radius: 5px; */
  width: 20rem;
  height: 2.2rem;
  margin-left: 2.5rem;
  padding: 2px;
  border: 1px solid gray;
}

.navbar-upload-button {
  display: flex;
  align-items: center;
  color: aquamarine;
  /* Updated this */
  padding: 0 1rem;
}

.navbar-profile-button {
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

.navbar-three-icons {
  display: flex;
  align-items: center;
}

.navbar-three-icons-all-three {
  padding: 0 1rem;
}
