.open-modal-button {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
    margin: 4px 2px;
    background-color: rgb(107, 17, 60);
    box-shadow: rgb(225, 255, 196);
    border: line;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 10px
}

.navbar-home-feed-library-feed > button {
    text-decoration: none;
}

.open-modal-button-signup {
    border-style: none;
    border-radius: 5px;
    background-color: aquamarine;
    font-size: 2rem;
    padding: 10px 3rem;
    font-family: 'Courier New', Courier, monospace;
}

.open-modal-button-signup:hover {
    cursor: pointer;
}

.open-modal-button-login {
    height: fit-content;
    /* opacity: 1; */
    background-color: #A0D8B3;
    border-style: none;
    border: 1px solid black;
    border-radius: 2px;
    padding: 4px 10px;
    color: black;
}

.open-modal-button-login:hover {
    cursor: pointer;
}

.open-modal-button-something {
    color: white;
    background-color: darkslategray;
    border-style: none;
    font-size: 14px;
    text-decoration: none!important;
}

.open-modal-button-something:hover {
    cursor: pointer;
}
