.open-modal-button {
    border-style: none;
    border-radius: 5px;
    border: 1px solid darkgreen;
    background-color: aquamarine;
    font-size: 1rem;
    padding: 5px 1rem;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
}
.open-modal-button:hover {
    background-color: rgb(92, 199, 163);

}

.navbar-home-feed-library-feed>button {
    text-decoration: none;
}

.open-modal-button-signup {
    border-style: none;
    border-radius: 5px;
    background-color: aquamarine;
    font-size: 2rem;
    padding: 10px 3rem;
    font-family: 'Courier New', Courier, monospace;
}

.open-modal-button-signup:hover {
    cursor: pointer;
}

.open-modal-button-login {
    height: fit-content;
    /* opacity: 1; */
    background-color: #A0D8B3;
    border-style: none;
    border: 1px solid black;
    border-radius: 2px;
    padding: 4px 10px;
    color: black;
}

.open-modal-button-login:hover {
    cursor: pointer;
}

.open-modal-button-something {
    color: white;
    background-color: darkslategray;
    border-style: none;
    font-size: 14px;
    text-decoration: none !important;
}

.open-modal-button-something:hover {
    cursor: pointer;
}
