.global-outerwrapper-outer2 {
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    justify-content: center;
    /* align-items: center; */
    /* background-color: #E5F9DB; */
    /* background-color: black; */
    background-color: darkslategray;
    min-height: 65rem;
    height: fit-content;
}

.global-outerwrapper-wrapper2 {
    display: flex;
    flex-direction: column;
    background-color: #A0D8B3;
    border-radius: 5px;
    padding-top: 2.5rem;
    width: 80rem;
    min-height: 35rem;
    height: fit-content;
    margin-top: 3rem;
}

.song-details-page-outer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80rem;
    /* border: 1px solid black; */
}

.song-details-page-top {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
}

.song-details-page-bottom-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    height: 60%;
}

.song-details-page-bottom {
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 67rem;
    /* width: 1122.22px; */
    /* border-bottom: 1px solid gray; */
}

.song-details-page-post-comment {
    display: flex;
    margin-bottom: 1rem;
}

.song-details-page-profile-pic {
    display: flex;
    align-items: center;
}

.song-details-page-profile-pic>img {
    height: 34px;
    width: 34px;
}

.song-details-page-comment-outer-wrapper {
    display: flex;
    align-items: center;
    padding: 5px;
    width: 100%;
    background-color: gray;
}

.song-details-page-comment-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
}

.song-details-page-comment-wrapper > form {
    width: 100%;
}

.song-details-page-comment-input {
    width: 99%;
}

.song-details-page-bottom-bar {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    padding-bottom: .5rem;
}

.song-details-page-interactive-buttons {
    display: flex;
}

.song-details-page-interactive-buttons-like {
    margin-right: 1rem;
}

.song-details-page-profile-comments {
    display: flex;
    margin-top: 1rem;
    margin-right: 1rem;
}

.song-details-page-artist {
    width: 130px;
    margin-right: 2rem;
}

.song-details-page-artist-image>img {
    height: 8.2rem;
    width: 8.2rem;
    border-radius: 100px;
}

.song-details-page-artist-name {
    /* display: flex;
    justify-content: center; */
    font-size: 15px;
    overflow: hidden; /* hides overflow */
    text-overflow: ellipsis; /* creates ellipses for overflow */
    white-space: nowrap;
    height: 1.5rem;
}

.song-details-page-display-comments-each {
    /* display: flex; */
    width: 100%;
    /* border: 1px solid purple; */
}
