.create-playlist-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
    overflow: auto;
    border: 2px solid red;
    /* Add overflow-y property to enable vertical scrolling */
}

.create-playlist-header {
    margin-bottom: 1em;
}

.create-playlist-inputs label {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.create-playlist-inputs label span {
    font-weight: bold;
    margin-bottom: 0.5em;
}

.create-playlist-button {
    margin-top: 1em;
}

.create-playlist-button button {
    padding: 0.5em 1em;
    font-size: 1em;
    color: #fff;
    background-color: #f50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.create-playlist-button button:hover {
    background-color: #f70;
}
